@import 'bootstrap/scss/bootstrap.scss';
@import 'font-awesome/scss/font-awesome.scss';
@import 'typeface-oswald';
@import './assets/css/_global';


body {
  margin: 0;
  font-family: "Open Sans";
  font-size: 16px;
  background-color: $darkgray;
  *{
    color: #ffffff;
  }
}

i {
  margin: 0 5px 0 5px;
}

button{
  @extend .btn;
  border-radius: 20px !important;
  border: none !important;
}

input {
  background-color: #737373 !important;
  color: #fff !important;
}

@include placeholder {
    color: #fff !important;
}



